@import url('https://font.googleapis.com/css2?family=poppins&display=swap');



*,::before,::after{
  box-sizing: border-box;
}

body{
  font-family: 'poppins', sans-serif;
  font-size: 0.875rem;
  opacity: 1;
  overflow: 0;
}

a{
  cursor: pointer;
  text-decoration: none;
  font-family: 'poppins', sans-serif;
}

li{
  list-style: none;
}

/*Layout for admin dashboard skeloton*/

.wrapper{
  align-items: stretch;
  display: flex;
  width: 100%;
}

#sidebar{
  width: 255px;
  height: 1234px;
  background: #363740;
  transition: all 0.35s ease-in-out;
}



.main{
  display: flex;
  flex-direction: column;
  width: 1185px;
  height: 1234px;
  left: 255px;
 
  transition: all 0.35s ease-in-out;
  width: 100%;
  background: #F7F8FC;
}

/* sidebar Elements style*/

.sidebar-logo{
padding: 1.15rem;
}

.sidebar-logo .bi{
  width: 32px;
  height: 32px;
  background: #3751FF;
}

.sidebar-logo a{
width: 136px;
height: 24px;
top: 41px;
left: 76px;
opacity: 0.7px;
color: #A4A6B3;
}
.sidebar-item hr{
  color: #9FA2B4;
}
  

.sidebar-logo a .bi{
  width: 16px;
  height: 10.67px;
  top: 2.67px;
  opacity: 0.4px;
  color: #9FA2B4;
}

.sidebar-nav{
  width: 255px;
  height: 56px;
  top: 184px;
  padding: 18px, 24px, 18px, 32px;
}

.sidebar-header{
width: 159px;
height: 20px;
top: 18px;
left: 72px;
color: #DDE2FF;
}

a.sidebar-link{
  color:#A4A6B3;
  padding: .625rem 1.625rem;
  position: relative;
  display: block;
}

.avatar{
width: 44px;
height: 44px;

}

.navbar-expand .navbar-nav{
  margin-left: 1078px;
}

.content{
  flex:1;
  
  width: 258px;
  height: 134px;

}

@media (min-width:768px){
  .content{
    max-width:auto;
    width: auto;      
  }
}

.card{
width: 258px;
height: 134px;
border-radius: 8px;
border: 1px;
padding: auto;
}


.illustration{
  background-color: var(--bs-primary-bg-submit);
  color: var();
}

.card-side{
width: 342px;
height: 546px;
left: 780px;
}

.card-header{
width: 1120px;
height: 92px;
top: 134px;
left: 1px;
}


.container-overview{
font-family: Mulish;
font-size: 24px;
font-weight: 700;
line-height: 30px;
letter-spacing: 0.30000001192092896px;
text-align: left;
}



.container-text{
font-family: Mulish;
font-size: 14px;
font-weight: 600;
line-height: 20px;
letter-spacing: 0.20000000298023224px;
text-align: right;
}


.name{
width: 129px;
height: 28px;
top: 13px;
left: 955px;
}


.img{
  width: 40px;
  height: 40px;
  top: 2px;
  left: 1080px;
}

.dashboard-sectin h3{
color: #252733;
align-items: center;
font-style: Bold 40 (1 px);
font-family: Mulish;
font-size: 40px;
font-weight: 700;
line-height: 50px;
letter-spacing: 1px;
text-align: center;
justify-self: center;
}

.dashboard-section p{
 font-family: Mulish;
 font-size: 19px;
 font-weight: 700;
 line-height: 24px;
 letter-spacing: 0.4000000059604645px;
 text-align: center;
 color: #9FA2B4;

}

.dashboard-section {
  background-color:#ffffff;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  width: 258px;
  height: 134px;
  padding: 20px;
  margin: 10px 0;
}


.container-overview{
font-family: Mulish;
font-size: 24px;
font-weight: 700;
line-height: 30px;
letter-spacing: 0.30000001192092896px;
text-align: left;
}

.title-tickets{
width: 771px;
height: 34px;
top: 6px;
font-family: Mulish;
font-size: 24px;
font-weight: 700;
line-height: 30px;
letter-spacing: 0.30000001192092896px;
text-align: left;
}


.table-headr{
width: 400px;
height: 24px;
top: 32px;
left: 292px;
font-family: Mulish;
font-size: 19px;
font-weight: 700;
line-height: 24px;
letter-spacing: 0.4000000059604645px;
text-align: left;
color: #252733;
}


.table-headr1 p{
text-decoration: Bold 14 (0.2 px);
font-family: Mulish;
font-size: 14px;
font-weight: 700;
line-height: 18px;
letter-spacing: 0.20000000298023224px;
text-align: left;
color: #9FA2B4;
height: 18px;
}

.container-text{
  width: 1122px;
  height: 44px;
  top: 30px;
  left: 285px;
}


.Today-trends{
width: 1122px;
height: 546px;
border-radius: 8px;
border: 1px;
padding: 20px;
margin: 10px;
left: 285px;
top: 292;
}

.table-img{
  width: 44px;
  height: 66px;
}

.ticket-conetnt1{
width: 372px;
height: 20px;
top: 26px;
left: 99px;
text-decoration: Semibold 14 (0.2 px);
font-family: Mulish;
font-size: 14px;
font-weight: 600;
line-height: 20px;
letter-spacing: 0.20000000298023224px;
text-align: left;
color:  #252733;
}

.ticket-conetnt2{
width: 372px;
height: 16px;
top: 50px;
left: 99px;
text-decoration: Reg 12 (0.1 px);
font-family: Mulish;
font-size: 12px;
font-weight: 400;
line-height: 16px;
letter-spacing: 0.10000000149011612px;
text-align: left;
color: #C5C7CD;
}

.table-button{
width: 30px;
height: 14px;
text-align: center;
font-family: Mulish;
top: 5px;
}

.table-sizing{
width: 400px;
height: 24px;
top: 32px;
left: 32px;
text-decoration: Bold 19 (0.4 px);
font-family: Mulish;
font-size: 19px;
font-weight: 700;
line-height: 24px;
letter-spacing: 0.4000000059604645px;
text-align: left;
color:  #252733;
}

.container{
width: 1122px;
height: 942px;
border-radius: 8px;
border: 1px;
top: 128px;
left: 285px
}

.container-text2{
width: 1122px;
height: 142px;
left: 285px;
top: 292px;
}
